<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<a th:href="@{/index}">Strona główna</a>
<a th:href="@{/register}">Rejestracja</a>
<a th:href="@{/login}">Logowanie</a>
<p>Hallo :)</p>
<img src="../static/images/error_image.jpg" th:width="1000" th:src="@{images/error_image.jpg}"/>
<img th:src="@{images/error_image.jpg}"/>
<img src="../static/images/error_image.jpg" height="600" width="800"/>
</body>
</html>